<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-iedge"> 
    <script src="https://kit.fontawesome.com/a563a889e2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pontano+Sans&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&display=swap" rel="stylesheet">  
    <link rel="shortcut icon" href="../../public/img/logopreto.png" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <title>Depressão</title>
  </head>
  
  <body>
      <a id="inicio"></a>
    <ul class="menu">
      <li><a href="/login" class="login">LOGIN &nbsp &nbsp |</a></li>
      <li><a href="#inicio">HOME &nbsp &nbsp |</a> 
      <li><a href="Quemsomos">QUEM SOMOS &nbsp &nbsp |</a></li>
      <li><a href="#final">FALE CONOSCO &nbsp &nbsp |</a></li>
    </ul>
    <section class="blur">
    <header>
        <h1>A depressão não é<br> brincadeira</h1>
      <p> Se você precisar de ajuda entre em contato!</p>
        <a href="#final"><button type="button" src="faleconosco.html">Help</button></a>
    </header>
    </section>    
    <img class="white" src="../../public/img/white.png" style="opacity: 0; visibility: hidden;">
    <section class="temp" style="opacity: 0;  visibility:hidden;">
      <form class="loginmain">
          <div class="close"><a href="/"><h3>X</h3></a></div>
          <div class="main">
          <div class="user"><i class="fas fa-user"></i></div>
          </div>    
          <h2 class="h2member">Fazer Login</h2>
          <span class="input"><i class="fas fa-envelope"></i>
          <input name="nome" type="text" placeholder="Email">
          </span>
          <span class="input"><i class="fas fa-lock"></i>
          <input type="password" placeholder="Senha">
          </span>
          <div class="divbtlogin"><button class="btlogin" type = "submit" name="btlogin">Login</button></div>
          <span class="forget">Esqueceu <a href="#">Senha/</a><a href="#">Login?</a></span>
          <a class="cadastrar" href="/cadastro">Crie sua conta</a>
        </form>
      </section>

    <img class ="logo" src="../../public/img/logocinza.png" alt="Logo">
    <section class=blur>
    <section class="resumo">
      <div>
        <blockcode>
        <p class ="titulo">Definição<p>
        <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA depressão é um transtorno mental caracterizado por tristeza persistente e pela perda de interesse em atividades que normalmente são prazerosas, acompanhadas da incapacidade de realizar atividades diárias, durante pelo menos duas semanas.</p>
        <cite><a href="https://www.paho.org/bra/index.php?option=com_content&view=article&id=5635:folha-informativa-depressao&Itemid=1095" target="_blank">OPAS-Organização Pan-Americana da Saúde</a></cite>    
      </blockcode>
     </div>    
    </section>
      
    <section class="relato">
     <div class="imgtexto"><img src="../../public/img/depoimento.jpg" alt="Imagem De Depoimento"></div> 
     <div class="texto">
         <p class ="titulo">Relato<p>
         <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp A depressão te leva pra baixo sabe? Você está ali, muitas vezes cercado de várias pessoas e quem sabe até rindo, mas por dentro você sabe que ela está ali, quando você para pra analisar o que sente, vê que existe um enorme vazio em você, que ilogicamente te faz sentir uma enorme dor, é como uma prisão mental e emocional...<br><br><cite> Loren Santos</cite></p> 
     </div>    
    </section>      
    <section class="player">
     <div class="titulovideo">Se aprofundando no tema</div> 
     <div class="video"><embed src="http://www.youtube.com/v/T2XLwjy65LA&ab&ab&ab" type="application/x-shockwave-flash"/></div>
    </section>
    <section class="conteudo">
      <div class="imgconteudo"><img src="../../public/img/homemcapuz2.png" alt="Imagem De Um Homem Com Capuz"></div> 
      <div class="divconteudo">
          <p class ="titulo">Tecnicamente Falando<p>
          <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Colocando de uma maneira mais técnica, a <a class = "citacoes" href="https://www.medicinanet.com.br/cid10/1532/f33_transtorno_depressivo_recorrente.htm" target="_blank"><mark>Depressão (CID 10 – F33)</mark></a> é uma doença psiquiátrica crônica, que por sua vez significa que ela é uma doença de <a class="citacoes" href="https://www.ladoaladopelavida.org.br/doencas-cronicas-o-que-e-doencas-autoadquiridas#:~:text=Doen%C3%A7as%20cr%C3%B4nicas%20s%C3%A3o%20aquelas%20de,representam%20risco%20para%20o%20paciente." target="_blank"><mark>progressão lenta e longa duração</mark></a> (que pode ser levada pela vida toda). O que leva a maioria das pessoas que têm depressão à só perceberem isso quando estão “no fundo do poço”, justamente pelo fato da progressão ser lenta, o que causa uma sensação de conformidade com o passar do tempo. Ela faz com que a pessoa afetada tenha alterações no seu humor, de maneira que a mesma tenha <a href="https://drauziovarella.uol.com.br/doencas-e-sintomas/depressao/" class="citacoes" target="_blank"><mark>sentimentos de tristeza, culpa, amargura, baixa auto-estima, desinteresse</mark></a> tão bem como distúrbios do apetite e do sono. Casos mais graves podem levar até mesmo a alucinação e a automutilação como meio de “fugir” da dor/vazio emocional, como também acabarem em casos de suicidio.  </p>
      </div>    
    </section> 
      
    <footer id="final">
    <div class="txtfooter"><p>Quer ter um contato mais direto?<p></div>
    <ul>
        <li><a href="https://www.facebook.com/gabriel.laurindo.505/" target="_blank"><i class="fab fa-facebook"></i>&nbsp Facebook</a></li>
        <li><a href="https://www.instagram.com/glitchpach/" target="_blank"><i class="fab fa-instagram"></i>&nbsp Instagram</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=5548991757251" target="_blank"><i class="fab fa-whatsapp"></i>&nbsp Whatsapp</a></li>    
    </ul> 
    </footer>
        
  <script type="text/javascript" src="../../public/js/app.js"></script>
  <script type="text/javascript" src="../../public/js/jquery/jquery.js"></script>   
  </section>    
 </body>  
</html>