<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-iedge"> 
    <script src="https://kit.fontawesome.com/a563a889e2.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../public/img/logopreto.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <title>Quem Somos</title>
  </head>
  
  <body>
    <a id="inicio"></a>
    <header class="quemsomos">
      <h1>Quem somos?</h1>
      <p>Somos apenas alguns estudantes tentando <br>tornar o mundo um lugar melhor!</p>
      <a href="#final"><button type="button"  class="btquemsomos">Help</button></a>
    </header>
    <ul class="menu">
      <li><a href="/login" class="login">LOGIN &nbsp &nbsp |</a></li>
      <li><a href="/">HOME &nbsp &nbsp |</a></li> 
      <li><a href="#inicio">QUEM SOMOS &nbsp &nbsp |</a></li>
      <li><a href="#final">FALE CONOSCO &nbsp &nbsp |</a></li>
    </ul>
    <img class ="logo" src="../../public/img/logobranca.png" alt="Logo">
     <img class="white" src="../../public/img/white.png" style="opacity: 0; visibility: hidden;">
     <section class="temp" style="opacity: 0;  visibility:hidden;">
       <form class="loginmain">
           <div class="close"><a href="/"><h3>X</h3></a></div>
           <div class="main">
           <div class="user"><i class="fas fa-user"></i></div>
           </div>    
           <h2 class="h2member">Fazer Login</h2>
           <span class="input"><i class="fas fa-envelope"></i>
           <input name="nome" type="text" placeholder="Email">
           </span>
           <span class="input"><i class="fas fa-lock"></i>
           <input type="password" placeholder="Senha">
           </span>
           <div class="divbtlogin"><button class="btlogin" type = "submit" name="btlogin">Login</button></div>
           <span class="forget">Esqueceu <a href="#">Senha/</a><a href="#">Login?</a></span>
           <a class="cadastrar" href="/cadastro">Crie sua conta</a>
         </form>
       </section>
	<section class="container">
      <div class="Item up" id="white">
          <h2>Quem Somos?</h2>
          <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA Somos estudantes de um colégio chamado CEDUP-Abílio Paulo, e estamos realizando um trabalho de conclusão de curso (o famoso TCC). Nossos nomes são: Gabriel Laurindo e Nicolas Daniel. Entramos para este colégio com o intuito de nos tornarmos ótimos profissionais de TI, e agora, finalmente mostraremos tudo o que aprendemos durante nosso curso, seja com o auxílio dos professores, ou por conta, é um prazer e uma honra tê-los em nosso site, se quiserem dar sugestões, feedbacks ou reclamações, não hesitem em nos chamar através da aba "Fale Conosco". </p>
      </div>
      <div class="Item up">
          <h2>Qual nossa motivação?</h2>
          <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspA Muito mais do que um trabalho para obter nota, esse é nosso objetivo, queremos algo que seja útil a sociedade e que possa ajudar pessoas de uma maneira geral, seja conscientizando, demonstrando como ajudar alguém com depressão, ou até mesmo ajudando alguém diretamente. Se este site ajudar uma pessoa, já atingimos nosso objetivo.</p>
      </div>  
	</section>
    <section class="container down">
      <div class="Item down_item">
          <img src="../../public/img/cedup.png" alt="">
          <br>
          <br>
          <h2>O que é o CEDUP?</h2>
          <p>É um Centro de Educação Profissionalizante fundado em 02 de maio de 1978, atualmente forma profissionais altamente capacitados nas mais diversas áreas, sendo reconhecido como um dos melhores colégios da região.</p>
      </div>
      <div class="Item down_item_meio">
          <img src="../../public/img/coracao.png" alt="">
          <h2>Como você pode salvar alguém!</h2>
          <p>Além de ler nosso posts e por em prática com as pessoas ao seu redor, você ainda pode doar para uma instituição que cuida de pessoas com depressão, basta clicar <cite>aqui</cite>.</p>
      </div>
      <div class="Item down_item">
          <img src="../../public/img/psicologa.png" alt="">
          <h2>Quão confiáveis somos?</h2>
          <p>Nosso site teve a participação direta de uma psicóloga e um psiquiatra que analisaram todo o conteúdo presente no mesmo, fora todas as nossas fontes bibliográficas espalhadas pelo site.</p>
      </div>      
	</section>  
    <footer id="final">
    <div class="txtfooter"><p>Quer ter um contato mais direto?<p></div>
    <ul>
        <li><a href="https://www.facebook.com/gabriel.laurindo.505/" target="_blank"><i class="fab fa-facebook"></i>&nbsp Facebook</a></li>
        <li><a href="https://www.instagram.com/glitchpach/" target="_blank"><i class="fab fa-instagram"></i>&nbsp Instagram</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=5548991757251" target="_blank"><i class="fab fa-whatsapp"></i>&nbsp Whatsapp</a></li>    
    </ul> 
    </footer>   
<script type="text/javascript" src="../../public/js/app.js"></script>
<script type="text/javascript" src="../../public/js/jquery/jquery.js"></script>     
</body>

</html>